/* changed the line-height to 1.32 em to correspond with the p element*/
html, body {
    height: 100%;
}

ol, ul, div {
	font-family: Arial,Helvetica,sans-serif;
	line-height: 1.32em;
}

body 
{
	background-color: #FFF;
	color: #333;
	cursor: default;
	font-size: 0.8em;
	margin: 0;
    /*padding: 0 20px 20px 50px;*/
	padding:0px;

}

/*changed line height to 1.32 em to correspond to ul and ol.*/
p {
	color: #333;
	font-family: Arial,Helvetica,sans-serif;
	line-height: 1.32em;
	orphans: 2;
	padding: 0;
	widows: 2;
}
    
.topictitle1 
{ 
	color: #595959;
	font-family: "Arial Black", Arial,Helvetica,sans-serif;
	font-size: 225%;
	line-height: 1.3em; 
	padding: 1em 0 0 0;
	margin:0;
	page-break-after: avoid;
	page-break-inside: avoid;
	/*font-weight: normal !important; */
}

.topictitle2 
{ 
	color: #8c8c8c;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 175%;
	font-weight: bold;
	margin: 2em 0 0.2em 0;
	page-break-after: avoid;
	page-break-inside: avoid;
}

.sectiontitle, 
.relinfotitle,
.section_title{ 
	color: #595959;
	font-family: "Arial Black", Arial, Helvetica, sans-serif;
	font-size: 150%;
	font-weight: bold;
	margin: 2em 0 0.2em 0;
	page-break-after: avoid;
	page-break-inside: avoid;
	/*font-weight: normal !important; */
}

.topictitle4 {
	color: #595959;
	font-family: "Arial Black", Arial, Helvetica, sans-serif;
	font-size: 125%;
	font-weight: bold;
	margin: 2.2em 0 0.2em 0;
	page-break-after: avoid;
	page-break-inside: avoid;
}

li ul {}

li ul li {
	list-style-type: circle;
	list-style-position: outside;
	margin: 0 0 0 -1.8em;
}

li ol {}

ol li ol {
	list-style-type: lower-alpha;	
}

li ol li {
	margin: 0 0 0 -1.3em;
	}


.note, .example, 
.caution, .recommendation, .syntax, .tip 
{
	background-color: #FFF7E3;
	margin: 1em 0;
	padding: 4px 5px 3px 8px;
	page-break-inside: avoid;
}

body.sap_bluecrystal .note,
body.sap_bluecrystal .example, 
body.sap_bluecrystal .caution, 
body.sap_bluecrystal .recommendation, 
body.sap_bluecrystal .syntax,
body.sap_bluecrystalv.tip 
{
    background-color:  rgb(229, 242, 249);   
}




.example p 
{
	background-color: #FFF7E3;
}


.cautiontitle, .recommendationtitle, .syntaxtitle, .tiptitle, .notetitle, 
.dangertitle, .fastpathtitle, .importanttitle, .remembertitle, .restrictiontitle, 
.example h2, .exampletitle, .sourcecodeblocktitle, .outputcodeblocktitle, .samplecodetitle, .codesyntaxtitle, .othertitle
{
	color: #BBB;
	font-size: 1.38em; 
	line-height: 1.5em;
	margin: 0;
	display:block;
	padding-left: 28px;
	background-repeat:no-repeat;
	background-position:left top;
}

.cautiontitle, .recommendationtitle, .syntaxtitle, .tiptitle, .notetitle, 
.dangertitle, .fastpathtitle, .importanttitle, .remembertitle, .restrictiontitle 
	{text-transform:  lowercase;}
.cautiontitle:first-letter, .recommendationtitle:first-letter, .syntaxtitle:first-letter, .tiptitle:first-letter, .notetitle:first-letter,
.dangertitle:first-letter, .fastpathtitle:first-letter, .importanttitle:first-letter, .remembertitle:first-letter, .restrictiontitle:first-letter/*IDDCKMODVDC-188*/
	{text-transform:  uppercase;}


.remembertitle {background-image:url('../images/recommendation.gif');} 
.restrictiontitle {background-image:url('../images/caution.gif');} 
.notetitle {background-image:url('../images/note.gif');}
.cautiontitle {background-image:url('../images/caution.gif');}
.recommendationtitle {background-image:url('../images/recommendation.gif');}
.syntaxtitle {background-image:url('../images/syntax.gif');}
.tiptitle {background-image:url('../images/recommendation.gif');}
.dangertitle {background-image:url('../images/caution.gif');}
.example h2.sectiontitle {background-image:url('../images/example.gif');}
.exampletitle {background-image:url('../images/example.gif');}
.sourcecodeblocktitle {background-image:url('../images/syntax.gif');}
.outputcodeblocktitle {background-image:url('../images/syntax.gif');}
.samplecodetitle {background-image:url('../images/syntax.gif');}
.codesyntaxtitle {background-image:url('../images/syntax.gif');}
.othertitle {background-image:url('../images/note.gif');}


.authorexampletitle {
    font-weight:bold;
}
/*removed .section_title*/
.refsyn .sectiontitle{
	color: #666;
	font-size: 90%;
	font-weight: bold;
	margin: 1.5em 0 0.5em 0;
	page-break-after: avoid;
	page-break-inside: avoid
}

.relinfotitle {
	display:inline-block;
	padding-bottom: 5px;
	}

.relinfo {
	margin-top:3px;
    margin-bottom:25px;
	}



table
{
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 90%;
	margin: 0.5em 0;
	table-layout: fixed;
}

.tablecap
{
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
	page-break-after: avoid;
	page-break-inside: avoid;
	font-weight: normal !important; 

}
.tbltitle 
{
	font-size: 90%;
	margin-bottom: -0.5em;
}


tr{
	background-color: #FFFFFF;
	color: inherit;
	page-break-inside: avoid;
}

tr:hover{
	background-color: #F6F6F6;
}

th{
	background-color: #999999;
	caption-side: top;
	color: #FFFFFF;
	font-weight: bold;
	padding: 2px 4px 2px 5px;
	page-break-after: avoid;
	page-break-inside: avoid;
	text-align: left;
	border: 1px solid #D6D7D6;
	word-wrap: break-word;
}

td{
	border: 1px solid #D6D7D6;
	padding: 1px 4px 1px 5px;
	vertical-align: top;
	word-wrap: break-word;
	
}

.image, .icon{
	margin:0; 
}


p > .image, .icon {margin:0;}

.figcap{
	font-size: 90%;
	padding: 1px 4px 1px 5px;
	page-break-inside: avoid;
}

.alias
{
	font-family: "Courier New",Courier,monospace;
	font-style: normal;
	font-weight: normal;
	text-transform: lowercase; 
}

.keyword, .term {
	font-style: italic; 
}

	
em, .emphasis
{
	font-weight: bold;
}
a {
   color: #0076CB;
   text-decoration: underline;}


body.sap_bluecrystal a {
    color:rgb(0,103,158);
}


/*a:hover {
  border-bottom: 1px solid #0076CB;
}
*/
.codeph,
pre 
{
	font-family: "Courier New",Courier,monospace !important;
}

pre
{
    background-color: white;
    border: 1px dotted gray;
    padding: 5px;;
    width: 90%;
    overflow: auto;
    margin-left: 2em;
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.codeblock {
	background-color: #EFEFEF;
	padding-left: 2px;
	padding-right: 2px;
	overflow: auto;
}

body.sap_bluecrystal .codeblock{
    background-color: white;
    border: 1px dotted gray;
    padding: 5px;
    width: 90%;
    overflow: auto;
    margin-left: 2em;
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.sap-technical-name {
       font-family: "Courier New",Courier,monospace !important;
}

.key {
	border: 1px solid #BBBBBB;
	bottom: 2px;
	color: #333333;
	font-family: "Courier New",Courier,monospace;
	font-size: 85%;
	font-weight: bold;
	padding: 1px 4px;
	position: relative;
	white-space: nowrap;
}	


.wintitle, .uicontrol, .uilabel, .uinolabel {
	font-weight: bold;
	font-family: "Lucida Sans", "Lucida Grande", sans-serif;
	font-style: normal;
	color: #050505;
}

.varname, .userinput{
	color: #050505;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;     
}

.filepath, .apiname, .parmname {
	font-family: "Courier New", Courier, monospace;
	font-style: normal;
	font-weight: normal; 
}


.systemoutput {
	font-size: 13px;
}


.menucascade{}

.menucascade_start {
	background-image: url('../images/navstart.gif');
	background-repeat: no-repeat;
	background-position:  left top;
	padding-left:15px;
	margin-right:-7px;
	}

.menucascade_end {
	background-image: url('../images/navend.gif');
	background-repeat: no-repeat;
	background-position: right top;
	padding-left:5px;


	}	
	
.menucascade_separator {
	background-image: url('../images/navstep.gif');
	background-repeat: no-repeat;
	margin-left: 0.5em;
	padding-right: 0.5em;
	}

.searchItem {
	margin-top: 5px;
	padding-top: 0px;
	padding-bottom: 10px;	
	border-bottom-style:dotted;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
}
.searchItem:hover {
	background-color: #F6F6F6;
}

body.sap_bluecrystal .searchItem:hover {
	  background-color:#E5F2F9;
}


.shortdesclink {
	margin-top: 10px;
}

.searchPageTitle {
	font-size: 1.34em;
	font-weight:bold;
	border-bottom-style:solid;
	border-bottom-width: 2px;
	border-bottom-color: #007DC0;
}

.searchPageSectionTitle, .searchNoResults {
	font-size: 1em;
	font-weight:bold;
	padding-bottom: 40px;
	}

.searchPageSpacer{
	height:30px;
	}

.image_float_left {
	float:left; 
	margin-right:10px; 
	margin-bottom:50px;		
	}
	
.searchForm a {
    text-decoration:none;
}

/********************************************************************************** */	
/********************************************************************************** */	
/* NAVIGATION TREE STYLES */
.KWLang-EN{
  background-image: none;
  border-right: 3px solid #DDDDDD;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0px 20px;
}

.KWLang-EN a {
  background-color: inherit;
  color: #0076CB;
  font-size: 1.2em;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}


.KWLang-EN.sap_bluecrystal a {
    color:rgb(0,103,158);    
}

.KWLang-EN a:visited {
  background-color: inherit;
  color: #0076CB;
}

.KWLang-EN a:focus {
  background-color: inherit;
  color: #0076CB;
}

.KWLang-EN a:hover {
  background-color: inherit;
  color: #0076CB;
  padding-bottom: 1px;
  border-bottom: 0;
  text-decoration: underline; 
}

.KWLang-EN a:visited, 
.KWLang-EN a:focus,
.KWLang-EN a:hover {
  color: #0076CB;
}


.KWLang-EN a:active {
  background-color: inherit;
  color: #0076CB;
}

.KWLang-EN.sap_bluecrystal a:visited, 
.KWLang-EN.sap_bluecrystal a:focus,
.KWLang-EN.sap_bluecrystal a:hover,
.KWLang-EN.sap_bluecrystal a:active{
    color:rgb(0,103,158);  
}


.KWLang-EN a[href=""]:focus,
.KWLang-EN a[href=""]:hover,
.KWLang-EN a[href=""]:active {
  border-bottom: none;
}

.KWLang-EN img {
  border: none;
  margin-right: 3px;
}

.KWLang-EN table {
  border-collapse: collapse;
  border-spacing: 0px; /* Netscape 6.0 only */
  width: 100%;
  border-left: 0px;
}
.KWLang-EN td {
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  padding-top: 8px;
  padding-bottom: 8px;
  border-left: 0px;
  border-right: 0px;
}

.KWLang-EN td.treeLevel0 {
  -x-text-indent: -36px;
  -x-padding-left: 36px;
  text-indent: -21px;
  padding-left: 21px;
}

/* .KWLang-he td.treeLevel0 { padding-left: 0; -x-padding-right: 36px; padding-right: 21px; } */

.KWLang-EN td.treeLevel1 {
  -x-text-indent: -47px;
  -x-padding-left: 47px;
  text-indent: -33px;
  padding-left: 33px;
}

/* .KWLang-he td.treeLevel1 { padding-left: 0; -x-padding-right: 47px; padding-right: 33px; } */

.KWLang-EN td.treeLevel2 {
  -x-text-indent: -60px;
  -x-padding-left: 60px;
  text-indent: -45px;
  padding-left: 45px;
}
/* .KWLang-he td.treeLevel2 { padding-left: 0; -x-padding-right: 60px; padding-right: 45px; } */

.KWLang-EN td.treeLevel3 {
  -x-text-indent: -72px;
  -x-padding-left: 72px;
  text-indent: -57px;
  padding-left: 57px;
}

/* .KWLang-he td.treeLevel3 { padding-left: 0; -x-padding-right: 72px; padding-right: 57px; } */

.KWLang-EN td.treeLevel4 {
  -x-text-indent: -84px;
  -x-padding-left: 84px;
  text-indent: -69px;
  padding-left: 69px;
}

/* .KWLang-he td.treeLevel4 { padding-left: 0; -x-padding-right: 84px; padding-right: 69px; } */

.KWLang-EN td.treeLevel5 {
  -x-text-indent: -96px;
  -x-padding-left: 96px;
  text-indent: -81px;
  padding-left: 81px;
}

/* .KWLang-he td.treeLevel5 { padding-left: 0; -x-padding-right: 96px; padding-right: 81px; } */

.KWLang-EN td.treeLevel6 {
  -x-text-indent: -108px;
  -x-padding-left: 108px;
  text-indent: -93px;
  padding-left: 93px;
}
/* .KWLang-he td.treeLevel6 { padding-left: 0; -x-padding-right: 108px; padding-right: 93px; } */

.KWLang-EN td.treeLevel7 {
  -x-text-indent: -120px;
  -x-padding-left: 120px;
  text-indent: -105px;
  padding-left: 105px;
}

/* .KWLang-he td.treeLevel7 { padding-left: 0; -x-padding-right: 120px; padding-right: 105px; } */

.KWLang-EN td.treeLevel8 {
  -x-text-indent: -132px;
  -x-padding-left: 132px;
  text-indent: -117px;
  padding-left: 117px;
}

/* .KWLang-he td.treeLevel8 { padding-left: 0; -x-padding-right: 132px; padding-right: 117px; } */

.KWLang-EN td.treeLevel9 {
  -x-text-indent: -144px;
  -x-padding-left: 144px;
  text-indent: -129px;
  padding-left: 129px;
}
/* .KWLang-he td.treeLevel9 { padding-left: 0; -x-padding-right: 144px; padding-right: 129px; } */


.KWLang-EN td.selected {
    background-color: #F2F2F2;
}

.KWLang-EN.sap_bluecrystal td.selected {
    background-color:#E5F2F9;
}

/********************************************************************************** */	
/********************************************************************************** */	
/* WELCOME TABLE STYLES */

/*changed width to 885px to ensure that there's no flickering effect on the welcome table when it's resized.*/
.welcometable{
	border: 0;
	width:885px;  
	margin-right: 15px; 
	}

.welcometable td {
	border-top-width:0;
	border-left-width:0;
	border-right-width:0;
  	padding-left:15px;
  	height: 65px;
  	
}

.welcometable tr:hover {
	background-color:#FFFFFF; 
}

.welcometable_imgcell {
	width:11%;
	border-bottom-color: #666;
  	border-bottom-width: 1pt;	
  	border-bottom-style: dotted;
  	padding-top:10px;
  	vertical-align:middle;
}	



.welcometable_imgcell img {
	border:0;
	margin:0;
	padding:0;
	}
	
.welcometable_imgcell:hover img {
	height: 64px;
	width: 64px;
	}	

		
.welcometable_imgcell:hover + td {
		background-color:#F6F6F6;
	}
	

.welcometable_spacercell{
	width: 8px;
	border-bottom-width: 0;	
	}	

.welcometable_textcell a{
	color: #666;
	}
	
.welcometable a:hover{
	border:0;
	}
	
.welcometable_textcell {
	width:40%;
	border-bottom-color: #666;
  	border-bottom-width: 1pt;	
  	border-bottom-style: dotted;
    padding-top:10px;
	}
	
.welcometable_textcell:hover {
	background-color:#F6F6F6;
	}
	
.welcomecelltitle {
	color: #666;
	font-weight:bold;
	}
#wrapper {
		min-height:100%;
	}	
	
#container {
	padding: 0 20px 85px 50px;
	min-height:100%;
	}	
	
.footer {
	position:relative;
	height: 50px;
    margin: -50px 20px 0 50px;
    background-color: black;
	color:white;
	text-align:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	clear:both;
		}	

body.sap_bluecrystal .footer {
    background-color:#f2f2f2;
    color:black;
}

.footer a {
	color:white;
	text-decoration:none;
	margin: 0 10px 0 10px;
	}	

body.sap_bluecrystal .footer a {
    color:black; 
}
#footerSpacer {
    height: 20px;
}	