/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/*                                                                            */
/* Used by (new) global/treectrl.htm                                          */
/*                                                                            */
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

:lang(zh) {font-weight: normal !important; font-style: normal !important; }

body {
  font-family: Arial, Arial Unicode MS, Helvetica, sans-serif;
}

body:lang(ar) {font-family: "Traditional Arabic", Arial Unicode MS, sans-serif;}
body:lang(ja) {font-family: MS PGothic, Arial Unicode MS, sans-serif;}
body:lang(ko) {font-family: Malgun Gothic, Arial Unicode MS, sans-serif;}
body:lang(zh) {font-family: HYZhongDengXianJ, SimHei, BentonSans Book, Arial Unicode MS, sans-serif;}

.treectrl a {
  margin: 0px 5px 0px 5px;
  text-decoration: none;
}

body.treectrl {
  background-image: none;
  background-color: #FFFFFF;
  height: 25px;
  padding: 10px 16px;
}
body.KWLang-he { padding: 10px 5px 0px 16px; }

div.treectrl {
}

div.treectrlLeft {
  float: left;
  text-align: left;
}
.KWLang-he div.treectrlLeft { float: right; text-align: right; }

div.treectrlRight {
  text-align: right;
}
.KWLang-he div.treectrlRight { text-align: left; }

.treectrl img {
  border: none;
}

.icon {
   width:18px;
   height:17px;    
}

.icon.collapse {
    background-image:url('../images/collapse.gif');
}

.sap_bluecrystal .icon.collapse {
    background-image:url('../images/collapse_bluecrystal.gif');
}

.icon.expand {
   background-image:url('../images/expand.gif');
}
.sap_bluecrystal .icon.expand {
    background-image:url('../images/expand_bluecrystal.gif');
}

.icon.next {
     background-image:url('../images/next.gif');
}

.sap_bluecrystal .icon.next {
     background-image:url('../images/next_bluecrystal.gif');
}

.icon.previous {
     background-image:url('../images/previous.gif');
}

.sap_bluecrystal .icon.previous {
     background-image:url('../images/previous_bluecrystal.gif');
}
