/* */
/* --- Basic Layout -------------------------------------------------------- */
/* For IE for Windows \*/
body {
	margin: 0px;
	padding: 0px 0px 10px 0px;
	background-color: #ffffff;
	background-image: linear-gradient(to bottom, #E0F2F4 0px, #DCECF0 50%, #DDE4EC 100%);
	background-image: -webkit-linear-gradient(to bottom, #E0F2F4 0px, #DCECF0 50%, #DDE4EC 100%);
	background-image: -ms-linear-gradient(to bottom, #E0F2F4 0px, #DCECF0 50%, #DDE4EC 100%);
	background-attachment: fixed;
	background-repeat: no-repeat;
}
body, td, select, input, code, li{
	font-family: "Verdana",Arial,Helvetica,sans-serif;
	font-size: 12px;
	color: #363636;
}
pre, code {
	/* font-family: Courier, monospace; */
	color: #666;
	background-color: #ffffff;
	padding: 0px 2px;
}

a:link, a:hover, a:visited, a:visited:hover {
	background-color: transparent;
	text-decoration: none;
	color: #007CC0;
	border: none;
}

a:hover, a:visited:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5 {
	font-family: "Verdana",Arial,Helvetica,sans-serif;
	font-weight: normal;
	color: #363636;
	margin: 20px 0 10px 0px !important;
}
h1 {
	font-size: 16px;
	font-weight: bold;
	line-height:130%;
}
h2 {
	font-size: 16px;
}
h3 {
	font-size: 14px;
	font-weight: normal;
}
h4 {
	font-size: 13px;
	font-weight: normal;
}
h5 {
	font-size: 12px;
	font-weight: normal;
}
p {
/*	line-height: 1.3em;*/
/*	font-size: small;*/
}

hr {
	border-color: #0078BB;
    border-right: medium none #0078BB;
    border-style: solid none none;
    border-width: 4px medium medium;
	height: 0.0625em;
}

#banner {
	height: 55px;
	margin:0px;
	padding:0px
}

#main {
  /* border-left: 0.625em #356aa0 solid; */
}

#index {
	top: 0;
	left: 0;
	width: 16.25em;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	border-right: 1px solid #cccccc;
}
/* --- General layout ------------------------------------------------------ */
.description {
	font-size: 0.9em;
	line-height: 0.9375em;
	padding: 0.25em;
	padding-left: 0.25em;
}

div.sectionTitle {
    border-bottom: 2px solid #CCCCCC;
    color: #363636;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.125em 0.5em 0.125em 0.5em;
    text-align: left;
}

div.sectionDescription {
	padding: 0.5em 0.5em 0.25em;
}

/* --- Class Name and File Name Icons -------------------------------------- */

.itemName .virtual {
  font-size: 1em;
  font-weight: bold;
  padding: 0 0 0.125em 0;
}

.itemName .icon {
  font-size: 1em;
  font-weight: bold;
  padding: 0 0 0.125em 1.5em;
}

.itemName > .icon {
  background: url(images/class_obj.png) no-repeat left;
}

.itemName.namespace > .icon {
  background-image: url(images/namespace_obj.png) !important;
}

.itemName.namespace-function > .icon {
  background-image: url(images/namespace_function_obj.png) !important;
}

.itemName.interface > .icon {
  background-image: url(images/interface.png) !important;
}

.fileName .icon {
  background: url(images/file_obj.png) no-repeat left;
}

.fileName .icon .namespace {
  background-image: url(images/namespace_obj.png) !important;
}

div.classRelation {
  margin-left: 20px;	
  margin-top: 5px;
}

div.classRelation span.caption {
  font-weight: bold;	
}

/* --- Class Method and Property Icons ------------------------------------- */
.classMethod .icon {
  padding-left: 1.275em;
  background: url(images/method_public_obj.png) no-repeat left;
}

.classMethod .private {
  background-image: url(images/method_private_obj.png) !important;
}

.classMethod .protected {
  background-image: url(images/method_protected_obj.png) !important;
}

div.classProperty .icon {
  padding-left: 1.275em;
  background: url(images/field_public_obj.png) no-repeat left;
}

div.classProperty .private {
  background-image: url(images/field_private_obj.png) !important;
}

div.classProperty .protected {
  background-image: url(images/field_protected_obj.png) !important;
}

/* --- Main/Index Shared Layouts ------------------------------------------- */
#content .section {
	margin-top: 1.5em;  
	background-color: #FFFFFF;
}

div.classList {
	padding: 0.625em;
	font-family: arial, sans-serif;
	font-size: 0.75em;
}

div.sectionItem .signature {
	color: #363636;
	margin-left: 0.250em;
	font-weight: normal;
}

.help, div.sectionItem .signature span {
	cursor: help;
}

/* --- Main layout --------------------------------------------------------- */
#main .full-description {
	font-size: 1em;
	line-height: 135%;
	display:block;
	margin-top: 0.75em;
}

#main p p, #main .full-description p, #main .full-description ul, #main .full-description li, #main span a {
	font-size: 1em;
}

#content {
  padding: 1.25em 1.25em 1.25em 1.25em;
}

#main .sectionItem  {
  padding-left: 0.8em;
}

#main .sectionItem .description {
  font-size: 0.9em;
  padding-left: 0.4375em;
	color: #777;
}

#main .summary .sectionItems, #main .details .sectionItem {
  border-top: 1px solid #CCCCCC;
  padding: 0.625em;
}

/* --- Summary layout ------------------------------------------------------ */

#main .summary .sectionItems {
  /* border-width: 0.125em 0.125em 0.250em; */
}

#main .summary .sectionItem {
	padding: 0 0 0.3em 1.6em;
}

#main .summary .sectionItem b {
  margin-left: -1.4286em;
}

.summary .sectionItem.deprecated > b > a {
	text-decoration: line-through;
}

#main .summary .module-filter {
  margin-left: -5.3571em;
}

/* --- Details layout ------------------------------------------------------ */
#main .details .module-filter {
  font-size: 70%;
}

#main .details .sectionItem {
  /* border-width: 0.125em 0.125em 0.250em; */
  margin-bottom: 0.75em;
}

#main .details .itemTitle {
	color: #363636;
	font-family: Verdana;
	font-weight: bold;
	font-size: 1em;
	display: inline;
}

#main .details .itemTitle .light {
}


.light, .light a:link, .light a:visited {
	color: #777;
	font-weight: normal;
}

/* --- Details data -------------------------------------------------------- */
table.methodItem {
  font-size: 0.8em;
}
table.methodItem p {
  margin: 0;
}
table.methodItem td {
  padding: 0 0.1em 0.1em;
  vertical-align: text-top;
}
table.methodItem .methodItemType {
  text-align: center;
}
div.heading {
	margin-top: 1.25em;
	color: #363636;
	font-weight: bold;
}

/* --- Index Layout -------------------------------------------------------- */
#index-wrapper {
  width: 100%;
}

#index-menu {
  background: #8DA6C6;
  text-align: center;
  color: #fff;
  padding: 0.125em 0 0.25em;
  font-weight: bold;
  font-size: 0.9em;
}

#mainnav {
	font-family: "Verdana",Arial,Helvetica,sans-serif;
	background-image: url(images/navBG.jpg);
	background-repeat: repeat-x;
	height: 28px;
	margin: 0;
	padding: 0;
	border: none;
	font-size: 10px;
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
}

#mainnav ul {
	display: block;
	height: 28px;
	margin: 0px 5px;
	line-height: 28px;
	list-style-type : none;
}

#mainnav li  {
	display: inline;
	margin: 0px;
	color: #333;
	text-decoration: none;
	list-style-type : none;
}

#mainnav li a {
	color: #333;
	font-weight:bold;
	padding: 6px 15px;
	text-decoration: none;
}

#mainnav li a:hover {
	background-image: url(images/navHoverBG.jpg);
	background-repeat: repeat-x;
	border: none;
}


#index-menu a:link, #index-menu a:visited  {
  color: #fff;
}

#index-title {
  float: left;
}

#index-content {
  border-style: none;
  font-size: 1.1em;
}

#index-content .signature {
  font-size: 0.85em;
}

#index .itemName {
  padding: 0.35em 0;
}

/* --- Class index / File index layout ------------------------------------- */
* html #content.index-page {
  width: 92%; /* IE only hack para evitar bug no layout */
}
  
#content.index-page .sectionItem {
  padding: 0.125em;
}

#content.index-page .sectionItems {
  border-top-width: 0.125em;
}

#content.index-page .summary {
  margin: 0;
}

.indexNode {
  padding-top: 3px;
  padding-bottom: 2px;
} 

.hierarchyChildren {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 32px;
  padding-top: 0px;
  padding-bottom: 0px;
  border:1px none #bbb;
}

.hierarchyChildren  .itemName {
  padding-top: 3px;
  padding-bottom: 2px;
}

.indexChildren {
	margin: 1px 0 1px 6px;
	padding-left: 4px;
	border-left: 1px dotted gray;
	line-height:14px;
	
}

#index .itemName .icon {
	padding-top:0px;
	line-height:14px;
	background-position:0px 0px;
}

.queryterm1 { 
	background: #fcdd82; 
}
.queryterm2 { 
	background: #AAAAAA;
}
.queryterm3 { 
	background: #A4D1E8;
}

.tagDeprecated, .tagExperimental, .tagDisclaimer {
	border: 2px solid #FF7537;
}
.tagDeprecated > .title, .tagExperimental  > .title, .tagDisclaimer  > .title {
	padding: 2px;
	color: #000;
	font-weight: bold;
	background-color: #FF7537;
	display: block;
}
.tagDeprecated > .desc, .tagExperimental  > .desc, .tagDisclaimer  > .desc  {
	padding: 2px;
	display: block;
}

.detailList.deprecation  {
	color: #FF7537;
}

.detailList.deprecation > dt.heading {
	font-weight: bold;
}
